/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: black;
}

html {
  font-family: Orbitron, sans-serif;
  margin: 10px 10px;
}

h2 {
  font-family: "Gunship Gradient", sans-serif;
  font-size: 1.875em;
  background-color: #DDF4EC;
  padding: 0.3125em 0 0.3125em;
  border-bottom: 1px solid gray;
  margin-bottom: 1.5625em;
  text-align: center;
}

h3 {
  font-family: Orbitron, sans-serif;
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
  margin-top: 1.875em;
  margin-bottom: 1.25em;
}

.layout__about, .layout__projects, .layout__others, .layout__skills, .layout__projets, .contact, .footer, .header {
  border: 2px solid black;
  margin-bottom: 60px;
}

.project__link a, .project__date {
  text-align: right;
}

article {
  border-bottom: 0.2px dotted lightgray;
}

li {
  list-style-type: none;
}

button {
  text-align: center;
  font-family: Orbitron, sans-serif;
  font-weight: bold;
  padding: 1.25em 6.25em;
  background-color: #DDF4EC;
  margin: 3.375em 0;
  border-radius: 20px;
}

input, textarea {
  margin-bottom: 1.75em;
  border-radius: 50px;
}

.facebook:hover {
  fill: #FFFFFF;
  background-color: #00adef;
  border: none;
}

.linkendin:hover {
  fill: #FFFFFF;
  background-color: #1c4ed5;
  border: none;
}

.behance:hover {
  fill: #FFFFFF;
  background-color: #0000CD;
  border: none;
}

.github:hover {
  fill: #FFFFFF;
  background-color: #003668;
  border: none;
}

.kindle:hover {
  fill: #FFFFFF;
  background-color: #F5CE00;
  border: none;
}
